<div class="intro bg-success">
	<div class="container">
		<h1 class="display-1">JUNiA</h1>
		<p class="lead">
		IUF Judge Evaluation and Training center.
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 media">
			<div class="media-left">{{ui-icon 'line-chart fa-3x'}}</div>
			<div class="media-body">
				<h1 class="media-heading">Evaluation</h1>
				<ul class="fa-ul">
					<li>{{ui-icon 'check-square-o fa-li'}}Competition Scoring</li>
					<li>{{ui-icon 'check-square-o fa-li'}}Descriptive Statistics</li>
					<li>{{ui-icon 'check-square-o fa-li'}}Charts</li>
					<li>{{ui-icon 'check-square-o fa-li'}}Consensus Deviation</li>
					<li>{{ui-icon 'square-o fa-li'}}Judge Accuracy</li>
					<li>{{ui-icon 'square-o fa-li'}}Personal Statistics (see your own performances)</li>
					<li>{{ui-icon 'square-o fa-li'}}Personal Accuracy</li>
					<li>{{ui-icon 'square-o fa-li'}}Reference with Expert Scoring (and their comments)</li>
					<li>{{ui-icon 'square-o fa-li'}}Video Coverage</li>
				</ul>
			</div>
		</div>

		<div class="col-md-6 media">
			<div class="media-left">{{ui-icon 'graduation-cap fa-3x'}}</div>
			<div class="media-body">
				<h1 class="media-heading">Training</h1>
				<ul class="fa-ul">
					<li>{{ui-icon 'square-o fa-li'}}Detailed Judging</li>
					<li>{{ui-icon 'square-o fa-li'}}Compare your results with Expert Scoring for further insights</li>
					<li>{{ui-icon 'square-o fa-li'}}Scoring Feedback</li>
				</ul>
				Buy gossi a beer at Unicon to make this happen!
			</div>
		</div>
	</div>
</div>
